---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      <img src="/assets/img/umd_testudo.png" alt="Icon" class="name-icon" style="width: 50px; height: 50px; margin-right: 0px; vertical-align: middle;">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid path = profile_image_path class = profile_image_class sizes = sizes alt = page.profile.image
            cache_bust = true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- New Company Icons Section -->
    <h3>Selected Experience</h3>
    <section class="company-icons-container py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-center">
            <img src="/assets/img/experiences/google.png" alt="Company 1" class="img-fluid company-icon mb-3">
            <h5>Google</h5>
            <p>Hardware Product Sprint</p>
            <p>2022 Jun. - 2022 Sep.</p>

          </div>
          <div class="col-md-4 text-center">
            <img src="/assets/img/experiences/sinica.png" alt="Company 2" class="img-fluid company-icon mb-3  sinica-icon">
            <h4>Academia Sinica</h4>
            <p>Research Assistant @ NLPSA</p>
            <p>2022 Jun. - 2023 Jun.</p>
          </div>
          <div class="col-md-4 text-center">
            <img src="/assets/img/experiences/ncku.png" alt="Company 3" class="img-fluid company-icon mb-3">
            <h5>National Cheng Kung University</h5>
            <p>Research Assistant @ ACVLab</p>
            <p>2023 Jun. - 2024 Feb.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}
    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}
  <div class="container my-4">
    <div class="row">
      <div class="col-12">
        <div id="map-container" class="map-container">
          <a href="https://clustrmaps.com/site/1c04g"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=LfMMz4WDBrzZlOjJo4eo3ZEPmIjyUZhxrSWiyz666XI&cl=ffffff" /></a>
        </div>
      </div>
    </div>
  </div>
  </article>

</div>
